h1{
    color: rgb(1, 7, 7);

}
img{
    width: 500px;
}
#thirdDiv{
    height: 800px;
    width: 500px;
    background-color: rgb(160, 177, 160);
    padding: 50px;
    border: 5px chocolate solid;
}
#spanid{ font-size: 18px;
    margin: 50px;
}