h1{
    color: rgb(1, 7, 7);

}
img{
    width: 200px;
}
#thirdDiv1{
    height: 25px;
    width: 300px;
    background-color: rgb(160, 177, 160);
    padding: 50px;
    border: 5px rgb(54, 52, 50) solid;

    
}
#thirdDiv2{
    display: flex;
    justify-content:center;
    background-color: cyan;
    padding: 50px;
    border: 18px rgb(216, 226, 216)solid;
    height: 300px;
    width: 50%;

}
#spanid{ font-size: 18px;
    margin: 50px;
}
.divClass{
    display: flex;
    justify-content: center;
    
}
.divClss{display: flex;
justify-content: center;}